.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.footer.segment {
    padding: 5em 0em;
}

.magnolia {
    background-color: #EFE9F4;
}

.eggplant {
    background-color: #744253;
}

.moonstone {
    background-color: #729EA1;
}

.rose {
    background-color: #B296A4;
}

